body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.header-top {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.links {
    display: flex;
    border: 1px solid red;
}

.header-bottom {
    display: flex;
    border: 1px solid red;
}

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: space-between;
}

.main-upper {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.main-mid {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.main-bottom {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
}

.footer {
    display: flex;
    justify-content: center;   
    border: 1px solid red;
}